<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alvaro.client_audit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.actionActivities.firewallActionsActivities.Create"></activity>
        <activity android:name=".activities.actionActivities.firewallActionsActivities.ShowRules" />
        <activity android:name=".activities.actionActivities.firewallActionsActivities.Import" />
        <activity android:name=".activities.actionActivities.firewallActionsActivities.Export" />
        <activity android:name=".activities.actionActivities.firewallActionsActivities.Disable" />
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddDeviceActivity" />
        <activity android:name=".activities.DeviceHomeActivity" />
        <activity android:name=".activities.EditDeviceActivity" />
        <activity android:name=".activities.InsideDeviceActivity" />
        <activity android:name=".activities.actionActivities.HardwareActivity" />
        <activity android:name=".activities.actionActivities.PortsActivity" />
        <activity android:name=".activities.actionActivities.ProcessesActivity" />
        <activity android:name=".activities.actionActivities.VulnersActivity" />
        <activity android:name=".activities.actionActivities.UpnpActivity" />
        <activity android:name=".activities.actionActivities.UpnpActionActivity" />
        <activity android:name=".activities.actionActivities.FirewallActivity" />
    </application>

</manifest>